@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
.join_wrap{max-width:1024px;height:auto;margin:150px auto 0;overflow:hidden}
.join_area{margin-top:50px;font-family:'Jeju Gothic', serif}
.join_box{width:70%;margin:0 auto 100px;background:#fff;border:2px solid #2885c7;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-radius:20px}
.join_title{position:relative;z-index:-5;width:20%;margin-top:-50px;background:#23af10;border-top-left-radius:20px;border-top-right-radius:20px;font-family:'Hanna', serif;color:#fff;font-size:23px;padding:15px 20px 30px}
.txt_blue{
font-family:'Nanum Gothic', serif;font-size:12px;color:#2885c7}
.txt_blown{display:block;margin-top:10px;
font-family:'Nanum Gothic', serif;font-size:12px;color:saddlebrown}
.null_txt{
font-family:'Nanum Gothic', serif;font-size:12px;color:#2885c7}
.necessary{display:inline;margin-bottom:5px;font-family:'Nanum Gothic', serif;font-size:12px}
.necessary::before{content:'';display:inline-block;width:10px;height:10px;background:url(../img/icon_hand_Y.png) no-repeat;background-size:cover;margin-right:5px}
form>.necessary{display:block;text-align:right}
.join_box form{width:90%;margin:30px auto;overflow:hidden}
.join_box form table{border:1px solid #ccc}
.join_box form tr{font-size:15px;border-bottom:1px solid #ccc}
.join_box form th{width:15%;text-align:left; padding:15px;background:#2885c7;color:#fff;border-bottom:1px solid #eee}
.join_box form td{width:55%;padding:15px}
.join_box form tr:last-child td{border-bottom:0}
.join_box form #userIdchk{height:25px;background:#23af10;color:#fff;line-height:20px;font-size:12px;border:0}
.join_box form select{height:25px;position:relative;top:2px;margin-right:5px;cursor:pointer}
.join_box form input{height:20px;border:1px solid #2885c7;margin-right:5px}
.join_box form input[type="radio"]{display:none}
.join_box form input[type="radio"]+label{margin-right:5px;cursor:pointer}
.join_box form input[type="radio"]+label span{content:'';width:10px;height:10px;display:inline-block;position:relative;top:1px;margin-right:3px; border:1px solid #2885c7;border-radius:50%}
.join_box form input[type="radio"]:checked+label span::before{content:'';width:8px;height:8px;display:inline-block;position:relative;top:-2px;left:1px; background:#2885c7;border-radius:50%}
.join_box form input[type="checkbox"]{display:none}
.join_box form input[type="checkbox"]+label{margin-right:5px;cursor:pointer}
.join_box form input[type="checkbox"]+label span{content:'';width:10px;height:10px;display:inline-block;position:relative;top:1px;margin-right:3px; border:1px solid #2885c7}
.join_box form input[type="checkbox"]:checked+label span::before{content:'';width:8px;height:8px;display:inline-block;position:relative;top:-2px;left:1px; background:#2885c7}
.join_btn_box{width:50%;margin:30px auto}
.join_btn_box .join_btn{float:left;width:48%;height:50px;border-radius:50px;background:#fff;border:2px solid #2885c7;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:18px;line-height:40px;color:#2885c7}
.join_btn_box .join_btn:hover{background:#23af10;border:2px solid #fff;color:#fff;cursor:pointer}
.join_btn_box .join_ok{margin-right:2%}