@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
#wrap{font-family: “Noto Sans KR”, sans-serif;}
/*common*/
a{text-decoration: none;}
.max_inner{max-width: 1280px;margin: auto;}
.inner{max-width: 90%;margin:0 auto;}
.m{display: none;}
/*header*/
.header_top_area{width: 100%;background: #e60012}
.header_top{height: 30px;position: relative;top: 0;}
.header_top ul{position: absolute;right: 0;top: 8px;}
.header_top ul>li{float: left;font-size: 12px;}
.header_top ul>li::after{content: "|";color: #fff;margin:10px;}
.header_top ul>li:last-child::after{display: none;}
.header_top ul>li a{color: #fff;}
.header_bottom_area{width: 100%;height: auto;background: #fff;position: relative;z-index: 9999}
.header_bottom{height: 64px;padding: 10px 0;position: relative;top: 0;}
.header_bg{display: none;position: absolute;width: 100%;height: 270px;background: url(../img/black_60.png);}
h1.logo{width: 13%;}
h1.logo a{display: block;width: 100%;height: 100%;cursor: pointer;}
h1.logo a img{width: 100%;height: 100%;}
#gnb{position: absolute;right: 0;top: 0;}
#gnb>ul>li{float: left;font-family: 'NanumSquare', sans-serif;font-size: 20px;text-align: center;}
#gnb>ul>li .m_btn.pc a{display: block;padding:0 40px;height: 80px;line-height: 80px;color: #555;border-bottom: 4px solid #fff;}
#gnb>ul>li.on .m_btn a,
#gnb>ul>li .m_btn a:hover,
#gnb>ul>li .m_btn a:focus{color: #e60012;border-bottom: 4px solid #e60012;}
.m_btn2{display: none;width: 100%;font-size: 13px;text-align: center;}
.m_btn2 li a{display: block;width: 100%;height: 35px;line-height: 35px;color: #ccc;}
.m_btn2 li a:hover{background: #444;color: #fff;}
/*login_popup_wrap*/
.login_popup_wrap{display: none;position: absolute;width: 100%;z-index: 9999}
.bg_black{width: 100%;height: 100%;background: #000;opacity: 0.6;position: fixed;top: 0;left: 0;}
.login_box{position: relative;top: 100px;width: 50%;padding: 30px;margin:0 auto;background: #fff;border: 2px solid #e60012;border-radius: 30px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.login_box h3.title{margin:30px auto;font-family: 'NanumSquare', sans-serif;font-size: 30px;text-align: center;}
.login_box form{position: relative;width: 80%;margin:30px auto;font-size: 20px;}
.login_box form label{margin-right: 10px;}
.login_box form input{width: 100%;height: 30px;margin-bottom: 20px;font-size: 20px;}
.login_box form .btn_box{position: relative;width: 80%;height: 50px;margin: auto;overflow: hidden;}
.login_box form input[type="submit"]{width: 48%;position: absolute;left: 0;font-size: 15px;background: #981e27;border: 1px solid #981e27;color: #fff;}
.login_box form input[type="button"]{width: 48%;position: absolute;right: 0;font-size: 15px;background: #fff;border: 1px solid #981e27;color: #981e27;}
.login_box form input[type="submit"]:hover{background: #c42733;border: 1px solid #c42733;color: #fff;cursor: pointer;}
.login_box form input[type="button"]:hover{background: #fff;border: 1px solid #c42733;color: #c42733;cursor: pointer;}
.login_box form table{width: 80%;margin: auto;}
.login_box form table td:first-child{width: 25%;text-align: center;white-space: nowrap}
.login_box form ul{overflow: hidden;}
.login_box form ul>li{position: relative;float: left;width: 60%;height: 100px;padding: 10px;background: #fff;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-size: 13px;}
.login_box form ul>li:first-child{width: 40%;margin-left: 0;}
.login_box form ul>li:first-child::after{content: '';display: inline;width: 1px;height: 100%;background: #ccc;position: absolute;top: 0;right: 0;}
.login_box form ul>li a{color: #333;line-height: 15px;}
.login_box form ul>li span{display: inline-block;padding: 5px 10px;background: #555;position: absolute;right: 10px;bottom: 10px;color: #fff;}
.login_box form ul>li span:hover{background: #333}
/*login_popup_wrap end*/
/*container*/
.nav_wrap{height: 680px;background: #000;overflow: hidden;}
.nav_wrap iframe#{position: relative;}
.nav_pt{display: block;width: 100%;height: 80px;background:url(../img/patten01.png);margin-top: -55px;position: relative;}
.title_box{margin-top: 100px;color: #333;text-align: center;font-weight: 600;}
.title_box h2.title{display: inline-block;margin:0px auto 10px;padding-bottom: 10px;border-bottom: 3px solid;font-family: 'NanumSquare', sans-serif;font-size: 40px;letter-spacing: -2px;word-spacing: 5px;}
.title_box p{font-size: 20px;color: #555;font-weight: 100;}
/*section1*/
.section1{overflow: hidden;}
.sys .ul_line{position: relative;padding: 5px;margin: 50px 0;border: 1px solid #e60012;}
.sys .ul_line::before{content: '';display: block;width: 80%;height: 110%;background: #fff;position: absolute;top: -5%;left: 10%;}
.sys .ul_line::after{content: '';display: block;width: 110%;height: 80%;background: #fff;position: absolute;top: 10%;left: -5%;}
.sys ul{position: relative;overflow: hidden;border: 2px solid #e60012;z-index: 5}
.sys ul>li{position: relative;float: left;width: 32%;padding: 3px;margin: 0 20px 20px 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;z-index: 10}
.sys ul>li:nth-child(3n){margin: 0;}
.sys ul>li a{display: block;width: 100%;height: 100%;padding: 20px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;animation-duration: 3s;animation-iteration-count: infinite}
@keyframes sysAnimate{
  0%{transform:rotateY(-50deg);opacity: 0}
  100%{transform:rotateY(0deg)}
}
.sys ul>li .img{width: 100%;background: #444;height: 210px;overflow: hidden;}
.sys ul>li .img img{width: 102%;margin-left: -1%;transition: all 0.3s ease 0s}
.sys ul>li:hover .img img{width: 105%;margin: -2.5% 0 0 -2.5%;}
.sys ul>li .txt{margin-top: 10px;font-size: 18px;text-align: center;color: #333;line-height: 30px;letter-spacing: -2px}
.sys ul>li .txt em{font-size: 20px;font-weight: 800;color: #981e27;}
.sys ul>li .txt span{display: block;margin-top: 10px;font-size: 15px;line-height: 15px;font-weight: normal;color: #999;}
/*section2*/
.section2{margin: 50px auto 0;height: auto;background: url(../img/menu_bg.jpg)no-repeat 50%;overflow: hidden;}
.section2 .title_box p:last-child{margin-top: 5px;font-weight: 600;color: #e60012;}
.menu_box{position: relative;width: 80%;margin:0 auto;}
.menu_box ul{width: 80%;overflow: hidden;margin:20px auto 55px;}
.menu_box ul>li{float: left;width: 31%;margin:0 1%;}
.menu_box ul>li span{display: block;font-size: 20px;text-align: center;font-weight: 600;color: #555;letter-spacing: -2px;}
.menu_box ul>li:hover span{color: #981e27;}
.menu_box ul>li img{width: 100%;}
.arrow{width: 50px;height: 50px;}
.arrow{width: 50px;height: 50px;position: absolute;top: 100px;cursor: pointer;}
.arrow_l{left: 0;background: url(../img/sinjeon_icon01.png)no-repeat;-webkit-background-size: contain;background-size: contain;}
.arrow_r{right: 0;background: url(../img/sinjeon_icon02.png)no-repeat;-webkit-background-size: contain;background-size: contain;}
/*section3*/
.section3{width: 100%;height: auto;background: url(../img/store_bg.jpg);overflow: hidden;}
.section3 .title_box{color: #fff;}
.section3 .title_box p{color: #fff;}
.store_box{margin: 80px auto;}
.store_box ul{}
.store_box ul>li{position: relative;float: left;width: 32%;height: 250px;margin: 50px 0;margin-right: 2%;border: 2px solid #fff;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;box-sizing: border-box;overflow: hidden;cursor: pointer;transition: all 0.5s ease 0s}
.store_box ul>li::before{content: '';display: block;width: 100%;height: 100%;position: absolute;top: 0;left: 0%;background: #000;opacity: 0.6;}
.store_box ul>li::after{content: '';display: block;width: 100%;height: 100%;position: absolute;top: 0;right: 0%;background:#000;transform: rotateY(-90deg);opacity: 0;transition: all 1s ease 0s}
.store_box ul>li:hover::after{transform: rotateY(0deg);opacity: 0.6;}
.store_box ul>li:nth-child(2){margin-top: 0;}
.store_box ul>li:last-child{margin-right: 0;}
.store_box ul>li img{width: 101%;margin-left: -1%;}
.store_box ul>li .txt{position: absolute;top: 100px;display: block;width: 100%;font-size: 20px;text-align: center;color: #fff;z-index: 10}
.store_box ul>li .txt p{font-size: 30px;font-weight: 600;}
.store_box ul>li .txt span{display: block;margin-top: 15px;}
.store_box button{position: relative;bottom: 80px;left: 50%;margin-left: -75px;width: 150px;padding: 10px 0;background: #981e27;border-radius: 50px;border: 2px solid #fff;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-size: 15px;color: #fff;}
.store_box button:hover{background: #fff;border: 2px solid #981e27;color: #981e27;cursor: pointer;}
/*section4*/
.video_box iframe{display: block;margin:50px auto;}

.content_pt{position: relative;display: block;width: 100%;height: 80px;background:url(../img/patten02.png);margin-bottom: -50px;}
/*footer*/
#footer{width: 100%;background: #333;}
.footer_area{padding: 100px 0;position: relative;}
.footer_area .f_logo{width: 150px;}
.footer_area .f_logo img{width: 100%;}
.footer_area .txt{position: absolute;left: 15%;top: 100px;width: 88%;font-size: 13px;}
.footer_area ul>li a{color: #ddd;}
.footer_area .txt ul>li{float: left;color: #ddd;}
.footer_area .txt>ul>li::after{content: '|';display: inline;margin: 0 5px;color: #ddd;}
.footer_area .txt>ul>li a:hover{text-decoration: underline;}
.footer_area .txt>ul>li:last-child::after{display: none;}
.footer_area .info{position: absolute;left: 0;top: 30px;}
.footer_area .info ul>li{margin-right: 20px;}
.footer_area .info ul>li em{margin-right: 5px;font-weight: 600;}
.footer_area .info span{display: block;margin-top: 20px;color: #ddd;}