@charset "utf-8";
@font-face{font-family:'KBIZHanmaumMyungjo';src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KBIZHanmaumMyungjo.woff') format('woff');font-weight:normal;font-style:normal}
@font-face { font-family: 'GyeonggiTitleM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face{font-family:'OTEnjoystoriesBA';src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');font-weight:normal;font-style:normal}

#wrap{width:100%;height:auto}
#header{width:100%;height:auto;position:relative;z-index:99}
#container{max-width:1280px;height:auto;margin:0 auto}
/*header*/
.m_header{display:none}
.header_wrap{width:100%;height:auto;background:#ff7380}
.header_area{max-width:1280px;height:80px;margin:0 auto}
.top_h_wrap{position:relative}
.logo_bg{width:20%;height:70px;padding-top:80px;margin:0 auto;background:url(../img/logo_bg.png)no-repeat 50%;-webkit-background-size:contain;
background-size:contain;position:relative}
h1.logo{width:70%;margin:0 auto;margin-top:-60px}
h1.logo img{width:100%}
.search_box{position:absolute;right:8%;top:15px}
.search{width:170px;height:40px;background:#fff;border-radius:50px;border:0;overflow:hidden}
.search_input{width:70%;height:40px;text-indent:20px;background:#fff;border-radius:50px;border:0;color:#555;font-size:15px}
.search .s_icon{position:absolute;width:25px;height:25px;top:8px;right:10px;width:30px;border:0;background:url(../img/benefit_icon_08.png)no-repeat 50%;-webkit-background-size:contain;background-size:contain}
.search .s_icon:hover{background:url(../img/benefit_icon_08_hover.png)no-repeat 50%;-webkit-background-size:contain;background-size:contain;cursor:pointer}
.bottom_h_wrap{position:relative;top:-90px}
.bottom_h{width:90%;margin:0 auto;height:150px;background:url(../img/menu_bar.png)no-repeat 50%;-webkit-background-size:contain;background-size:contain}
.bottom_h ul{width:90%;margin:0 auto}
.bottom_h ul>li{float:left;width:20%;height:50px;margin-top:75px;-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;box-sizing:border-box}
.bottom_h ul>li a{display:block;height:65px;line-height:65px;font-family:'KBIZHanmaumMyungjo';text-align:center;font-size:22px;font-weight:bold;color:#555}
.bottom_h ul>li a:hover{line-height:75px;color:#ff7380}
.bottom_h ul>li a:hover::after{content:'';display:block;width:15px;height:10px;background:url(../img/benefit_icon_01.png)no-repeat 50%;-webkit-background-size:contain;background-size:contain;margin:-65px auto 0}
/*container*/
.bg_t_wrap{position:relative;margin-top:-50px;z-index:50}
.bg_t{height:300px;background:url(../img/benefit_bg_01.png)no-repeat 50%}
.nav_area{position:relative;top:-110px;overflow:hidden}
.nav_area .bx-wrapper{border:0;margin-bottom:0}
.nav_area .bx-pager.bx-default-pager{position:absolute;bottom:20px}
.nav_area .bx-wrapper .bx-controls .bx-prev{left:8%}
.nav_area .bx-wrapper .bx-controls .bx-next{right:8%}
.nav_area .bx-pager.bx-default-pager .bx-pager-item a{width:20px;height:20px;background:url(../img/benefit_icon_01_pager.png)no-repeat 50%;-webkit-background-size:contain;background-size:contain}
.nav_area .bx-pager.bx-default-pager .bx-pager-item a:hover{width:20px;height:20px;background:url(../img/benefit_icon_01.png)no-repeat 50%;-webkit-background-size:contain;background-size:contain}
.nav_area .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover{width:20px;height:20px;background:url(../img/benefit_icon_01.png)no-repeat 50%;-webkit-background-size:contain;background-size:contain}
.contant_video{position:relative;top:-120px;height:auto;margin:0 auto}
.video_box ul{max-width:90%;margin:0 auto;overflow:hidden}
.video_box ul>li{position:relative;left:-150%;float:left;width:32%;height:auto;margin-right:2%;background:url(../img/benefit_item_01.png)no-repeat 50%;-webkit-background-size:contain;background-size:contain;cursor:pointer}
.video_box ul>li:last-child{margin-right:0}
.video_box ul>li a{position:relative;top:20px;display:block;width:90%;margin:0px auto;background:transparent;overflow:hidden;border:2px solid #ff7380;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;overflow:hidden}
.video_box ul>li img{width:100%}
.video_box ul>li .icon{position:absolute;top:100px;left:50%;margin-left:-25px;width:50px;height:50px;background:url(../img/benefit_icon_06.png)no-repeat 50%}
.video_box ul>li .txt{width:80%;margin:30px auto 80px;font-size:20px;text-align:center;color:#555;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.video_box ul>li:hover .txt{color:#222;text-decoration:underline}
.contant_event{position:relative}
.event_wrap{height:400px;margin:0 auto;background:#d9f7f4}
.event_box{position:absolute;top:0;width:100%;height:100%;-webkit-background-size:cover;background-size:cover}
.event_act{right:-100%;background:url(../img/benefit_bg_02.png)no-repeat 50%}
.event_right{right:-100%;background:url(../img/benefit_bg_03.png)no-repeat 50%}
.event_box .txt{position:absolute;bottom:0;padding:9%;color:#555;z-index:60;font-size:18px;}
.event_right .txt{right:0;text-align:right}
.event_left .txt{left:-100%}
.event_box .txt h3{font-family: 'GyeonggiTitleM';font-size:2em;margin-bottom:20px;line-height:40px}
.event_box .txt p{margin-bottom:20px}
.event_box .txt button{height:30px;font-size:0.8em;padding:0 15px;border-radius:50px;border:0;background:#34a6b3;line-height:30px;color:#fff;cursor:pointer}
.event_box .txt button:hover{background:#1e7f8a}
.event_right .txt button{background:#ff7380}
.event_right .txt button:hover{background:#d34a56}
.event_box img{position:absolute;z-index:30}
.event_left img{height:200px;bottom:-30px;left:33%;
animation-name:autoitems_1;animation-duration:3s;animation-iteration-count:infinite}
@keyframes autoitems_1{0%{bottom:-30px}50%{bottom:-20px}100%{bottom:-30px}}
.event_right img{height:250px;top:-30px;right:33%;
animation-name:autoitems_2;animation-duration:3s;animation-iteration-count:infinite}
@keyframes autoitems_2{0%{top:-30px}50%{top:-20px}100%{top:-30px}}
.contant_best{margin-top:120px}
.best_area h2{font-family: 'GyeonggiTitleM';font-size:50px;text-align:center;color:#ff7380}
.bestseller{position:relative;max-width:90%;margin:0 auto;overflow:hidden}
.bestseller ul#best{width:90%;margin:50px auto;overflow:hidden}
ul#best>li{float:left;width:25%;height:auto;padding:2%;border:1px solid #fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
ul#best>li .img{position:relative;height:150px;overflow:hidden}
ul#best>li .img img{width:100%}
ul#best>li:hover{border:1px solid #ff7380;transition:all 0.3s ease 0s}
ul#best>li:hover .img img{width:105%;margin:-2.5% 0 0 -2.5%;transition:all 0.3s ease 0s}
ul#best>li .cont{position:relative;color:#555;line-height:15px;font-size:13px;}
ul#best>li .cont h5{margin:10px auto;font-size:1.3em;line-height:25px;font-weight:bold;color:#ff7380;white-space:nowrap;word-break:break-all;overflow:hidden;text-overflow:ellipsis}
ul#best>li .cont p{color:#999;margin-bottom:10px}
ul#best>li .color li{float:left;width:20px;height:20px;margin-right:5px;border-radius:50%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
ul#best>li .color li:nth-child(1){background:#f4dac4}
ul#best>li .color li:nth-child(2){background:#f9d9be}
ul#best>li .color li:nth-child(3){background:#f1d3b5}
ul#best>li .color li:nth-child(4){background:#f0c6a9}
ul#best>li .color li:nth-child(5){background:#ecba97}
ul#best>li .color li.on{border:2px solid #ff7380}
ul#best>li .color span{font-size:20px;line-height:20px;font-weight:bold;color:#ff7380}
ul#best>li .cont .price{margin:10px 0 0;font-size:1.2em;font-weight:bold;text-align:right}
.arrow_wrap .arrow{position:absolute;top:180px;width:30px;height:50px;cursor:pointer}
.arrow_wrap .arrow_left{left:0;background:url(../img/benefit_icon_04.png)no-repeat 50%}
.arrow_wrap .arrow_right{right:0;background:url(../img/benefit_icon_05.png)no-repeat 50%}
/*footer*/
.footer_area{max-width:1280px;margin:0 auto;background:#ff7380}
.footer_bg{position:relative;max-width:1280px;height:100px;margin:auto;background:url(../img/benefit_bg_04.png)no-repeat 50%;z-index:10}
.footer_txt{position:relative;max-width:90%;height:100px;padding:50px 0;margin:0 auto;color:#fff;font-size:13px}
.footer_txt .left{position:absolute;left:0;bottom:50px}
.footer_txt .right{position:absolute;right:0;bottom:50px;float:right}
.footer_txt .right span{font-family:'OTEnjoystoriesBA';font-size:30px}
.footer_txt .right ul>li{float:right;cursor:pointer}
.footer_txt .right ul>li:hover{text-decoration:underline}
.footer_txt .right ul>li::after{content:'|';display:inline-block;margin:0 10px}
.footer_txt .right ul>li:first-child::after{content:'|';display:none}
.f_logo{width:40%;margin-bottom:10px}
.f_logo img{width:100%}



@media only screen and (max-width:760px){

.logo_bg{padding-top:70px}
h1.logo{margin-top:-40px}
.search_box{right:6%;top:30px}
.search{width:150px;height:30px}
.search_input{height:30px}
.search .s_icon{width:20px;height:20px;top:5px;right:5px}
.bottom_h_wrap{top:-80px}
  .bottom_h{height:100px}
.bottom_h ul{width:90%;margin:0 auto}
.bottom_h ul>li{height:50px;margin-top:50px}  
.bottom_h ul>li a{display:block;width:100%;height:100%;line-height:40px;font-size:15px}
.bottom_h ul>li a:hover{line-height:40px}
.bottom_h ul>li a:hover::after{display:none}
.bg_t_wrap{margin-top:-100px}
.contant_video{top:-142px}
.video_box ul{max-width:90%;margin:0 auto;overflow:hidden}
.video_box ul>li{position:relative;left:-150%;float:left;width:32%;height:auto}
.video_box ul>li a{position:relative;top:40px;display:block;width:85%;margin:0px auto;background:transparent;overflow:hidden;border:2px solid #ff7380;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;overflow:hidden}
.video_box ul>li .icon{top:45px}
.video_box ul>li .txt{margin:50px auto 70px;font-size:15px}
.event_wrap{height:300px;margin:-80px auto 0;background:#d9f7f4}
.event_box img{height:160px}
.event_box .txt {font-size: 13px;}
.event_box .txt h3{line-height: 35px;}
.bestseller{position:relative;max-width:90%;margin:0 auto;overflow:hidden}
.bestseller ul#best{width:80%;height:270px;margin:30px auto;overflow:hidden}
ul#best>li{width:33%}
ul#best>li .img{height:120px}
ul#best>li .color li{width:15px;height:15px}
ul#best>li .color span{font-size:20px;line-height:20px}
.arrow_wrap .arrow{top:130px;width:30px;height:40px;cursor:pointer}
}

@media only screen and (max-width:420px){
.search_box{display:none}
.top_h_wrap{display:none}
.m_header{display:block}
.bottom_h_wrap{position:relative;top:0px;right:-100%;z-index:99}
.bottom_h{position:absolute;right:0;width:40%;height:auto;margin:0}  
.bottom_h ul>li{float:none;width:100%;height:40px;margin:0;background:#ffebed}
.bottom_h ul>li a{display:block;width:100%;height:100%;line-height:40px;font-size:15px}
.bottom_h ul>li a:hover{line-height:40px;color:#ff7380}
.bottom_h ul>li a:hover{background:#ff7380;color:#fff}
.bottom_h ul>li a:hover::after{display:none}
.hamburger{position:absolute;top:25px;right:20px;cursor:pointer}
.hamburger span{display:block;width:40px;height:5px;background:#fff;margin-bottom:8px;border-radius:50px}
.hamburger span:last-child{margin-bottom:0}
h1.m_logo{display:block;width:50px;padding:15px;margin:0 auto}
h1.m_logo img{width:100%}
.header_area{height:0px}
.bg_t_wrap{display:none}
.nav_area{position:relative;top:0px}
.nav_area .bx-wrapper{height:250px;border:0;margin-bottom:0}  
.nav_area .bx-viewport{height:250px !important;border:0;margin-bottom:0}  
.nav_area .bx-wrapper img{height:250px}  
.nav_area .bx-pager.bx-default-pager{position:absolute;bottom:10px}
.nav_area .bx-wrapper .bx-controls .bx-prev{left:6%}
.nav_area .bx-wrapper .bx-controls .bx-next{right:6%}
.contant_video{position:relative;top:-5px;height:auto;margin:0 auto}
.video_box ul{max-width:90%;margin:0 auto 30px;overflow:hidden}
.video_box ul>li{width:48%;height:auto}
.video_box ul>li:nth-child(2){margin-right:0}
.video_box ul>li:last-child{display:none}
.video_box ul>li a{top:15px;width:80%}
.video_box ul>li img{width:100%}
.video_box ul>li .icon{top:30px;left:50%;margin-left:-20px;width:40px;height:40px;-webkit-background-size:cover;background-size:cover}
.video_box ul>li .txt{width:80%;margin:25px auto 30px;font-size:12px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.contant_event{height:300px}
.event_wrap{height:150px;margin:0 auto;background:#d9f7f4}
.event_box{position:relative;top:0;width:100%;height:100%;overflow:hidden}
.event_act{display:none}
.event_right{display:block;width:100%;background:#ffc8cd}
.event_box .txt{position:absolute;bottom:0;padding:4% 6%;color:#555;z-index:60}
.event_right .txt{right:0;text-align:right}
.event_left .txt{left:-100%}
.event_box .txt h3{font-size:25px;margin-bottom:10px;line-height:25px}
.event_box .txt p{font-size:13px;margin-bottom:10px}
.event_box .txt button{font-size:12px}
.event_box img{height:150px}
.event_left img{bottom:-30px;left:55%;
  animation-name:autoitems_1;animation-duration:0s}
.event_right img{top:20px;right:60%;
  animation-name:autoitems_2;animation-duration:0s}
.contant_best{margin-top:50px}
.best_area h2{font-size:40px}
.bestseller{position:relative;max-width:90%;margin:0 auto;overflow:hidden}
.bestseller ul#best{width:80%;height:300px;margin:30px auto;overflow:hidden}
ul#best>li{width:50%}
ul#best>li .img{height:120px}
ul#best>li .cont h5{font-size:15px}
ul#best>li .cont p{font-size:12px}
ul#best>li .color li{width:15px;height:15px}
ul#best>li .color span{font-size:20px;line-height:20px}
.arrow_wrap .arrow{top:130px;width:30px;height:40px;cursor:pointer}
/*footer*/
.footer_area{max-width:1280px;margin:0 auto;background:#ff7380}
.footer_bg{margin-top:-80px}
.footer_txt{margin-top:50px}
.footer_txt .left{position:relative;left:0;bottom:50px}
.footer_txt .right{position:relative;left:0;bottom:50px;float:none}
.footer_txt .right span{display:block;font-size:20px;margin:10px 0}
.footer_txt .right ul{float:left}
.footer_txt .right ul>li{font-size:12px}
.footer_txt .right ul>li::after{margin:0 5px}
}
