@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*스웨거 폰트*/
@font-face {
 font-family: 'SDSwaggerTTF';
 font-weight: 300;
 src: url('../fonts/SDSwaggerTTF.eot');
 src: url('../fonts/SDSwaggerTTF.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SDSwaggerTTF.woff') format('woff'),
      url('../fonts/SDSwaggerTTF.ttf') format('truetype');
}
/*노토산스font-family: 'Noto Sans KR', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&subset=korean');
/*font-family: 'Khand', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Khand:400,700');